@import "./../../../styles/colors.scss";

.recent-project-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 312px;
  // transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;

  @media screen and (max-width: 700px) {
    max-width: unset;
  }
  
  // opacity: 0;
  // transform: translateY(20px);
  // transition: opacity 0.6s ease, transform 0.6s ease;

  // &:hover {
  //   transform: translateY(-5px) scale(1.02);
  //   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  // }

  .project-image {
    // width: 312px;
    // height: 333px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    // transition: transform 0.4s ease;
  }

  .project-name {
    font-size: 24px;
    color: $color-charcoal;
  }

  .project-description {
    color: $color-dark-gray;
  }

  .read-more-button {
    margin-top: 6px;
    outline: none;
    border: none;
    background-color: $transparent;
    cursor: pointer;
  }
  .read-more-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .read-more-text {
      color: $color-royal-azure;
    }
  }
}

// .project-tooltip-wrapper{
//   max-width: 400px;
//   border-radius: 10px;

//   @media screen and (max-width: 650px) {
//     max-width: 300px;
//   }
// }

