@import "./../../../styles/colors.scss";

.service-card {
  background: $color-dark-blue;
  padding: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
  }

  .title-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-bottom: 30px;
  }

  .icon-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    color: $color-white;
    font-size: 24px;
  }

  .list {
    // list-style: none;
    padding: 0;
  }

  .list-item {
    margin-bottom: 0.8rem;
    position: relative;
    margin-left: 1.5rem;
  }

  .list-item::marker {
    color: white;
  }

  .item-text {
    color: $color-white;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 380px;
  }

  @media screen and (max-width: 1280px) {
    width: 500px;
  }

  @media screen and (max-width: 1150px) {
    width: 450px;
  }

  @media screen and (max-width: 1040px) {
    width: 400px;
  }

  @media screen and (max-width: 930px) {
    width: 350px;
  }

  @media screen and (max-width: 820px) {
    width: 330px;
  }

  @media screen and (max-width: 760px) {
    width: 100%;
    max-width: 450px;
  }
}
