
  .slides-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .slide {
    margin: 0 20px;
    height: 100%;
  }

  .rfm-initial-child-container{
    height: 100%;
  }

  .rfm-child{
    height: 100%;
  }
 
  