@import "./../../../styles/colors.scss";

.hero-text-img-wrapper {
  position: relative;
  height: 400px;

  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1220px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .hero-topic-description-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .hero-topic {
      color: $color-white;
      max-width: 700px;
      font-size: 64px;
      text-align: center;
    }

    .hero-description {
      color: $color-white;
      max-width: 900px;
      text-align: center;
    }
  }
}
