@import "./../../../styles/colors.scss";

.hero-text-img-wrapper {
  position: relative;
  height: 400px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1220px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    .image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .hero-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba($color-charcoal, 0.9) 0%,
        rgba($color-charcoal, 0.4) 100%
      );
      // z-index: 2;
    }
  }

  .hero-topic-description-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 700px) {
      width: 80%;
    }

    .hero-topic {
      color: $color-white;
      // max-width: 700px;
      // font-size: 64px;
      text-align: center;

      @media screen and (max-width: 500px) {
        font-size: 48px;
      }
    }

    .hero-topic-48 {
      font-size: 48px;
    }

    .hero-topic-64 {
      font-size: 64px;

      @media screen and (max-width: 500px) {
        font-size: 48px;
      }
    }

    .hero-description {
      color: $color-white;
      max-width: 900px;
      text-align: center;
    }
  }
}
