$color-dark-blue: #0b1a37;
$color-bright-blue: #0058bc;
$color-oxford-blue: #0d1c36;
$color-royal-azure: #0058bc;

$color-black: #000000;
$color-jet-black: #191919;

$color-white: #ffffff;

$color-light-gray: #e6e3de;
$color-medium-gray: #88857b;
$color-medium-light-gray: #9A9999;
$color-granite-gray: #575656;
$color-dark-gray: #575757;
$color-lavender-gray: #ebedef;
$color-dim-gray: #434343;
$color-pinkish-gray: #f3ecec;

$color-charcoal: #1c1c1c;

$color-pure-red: #FF0000;

$transparent:transparent;
