@import "./../../../styles/colors.scss";

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;

  .left-slider {
    position: relative;
    width: 50%;
    height: 100%;
    background: $color-white;
    animation-name: left-slider;
    animation-duration: 12s;
  }

  .right-slider {
    position: relative;
    width: 50%;
    height: 100%;
    background: $color-white;
    animation-name: right-slider;
    animation-duration: 12s;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    animation-name: content-opacity;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: ease-in-out;
    animation-duration: 12s;
    z-index: 100;
    white-space: nowrap;

    .top-text {
      letter-spacing: 40px;
      width: 266px;
      font-size: 32px;
    }

    .bottom-text {
      letter-spacing: 0px;
      font-size: 18px;
      white-space: nowrap;
    }
  }

  .left-vertical {
    position: absolute;
    width: 5px;
    background-color: $color-black;
    animation-name: left-vertical;
    animation-duration: 12s;
  }

  .right-vertical {
    position: absolute;
    width: 5px;
    background-color: $color-black;
    animation-name: right-vertical;
    animation-duration: 12s;
  }

  .Logo-wrapper {
    position: absolute;
    display: flex;
    left: calc(50% - 20px);
    // left: 50%;
    top: calc(50% - 60px);
    transform: translate(-50%, -50%);
    animation-name: content-opacity;
    animation-duration: 12s;

    .logo-l,
    .logo-d {
      font-size: 57px;
    }

    .logo-d {
      position: absolute;
      left: 22px;
      color: $color-pure-red;
    }

    .devider {
      position: absolute;
      top: 41px;
      width: 65px;
      height: 5px;
      background-color: $color-white;
    }
  }
}

@keyframes content-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes left-slider {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  50% {
    left: 0;
  }
  100% {
    left: -60%;
  }
}

@keyframes right-slider {
  0% {
    right: 0;
  }
  25% {
    right: 0;
  }
  50% {
    right: 0;
  }
  100% {
    right: -60%;
  }
}

@keyframes left-vertical {
  0% {
    left: 50%;
    height: 0%;
  }
  25% {
    left: 50%;
    height: 0%;
  }
  50% {
    left: 50%;
    height: 100%;
  }
  100% {
    left: -10%;
    height: 100%;
  }
}

@keyframes right-vertical {
  0% {
    right: 50%;
    height: 0%;
  }
  25% {
    right: 50%;
    height: 0%;
  }
  50% {
    right: 50%;
    height: 100%;
  }
  100% {
    right: -10%;
    height: 100%;
  }
}
