@import "./../../../styles/colors.scss";

.project-page-wrapper {
  background: linear-gradient(
    to right,
    rgba(136, 133, 120, 0.16) 20%,
    rgba(87, 86, 86, 0.78) 95%
  );

  padding: 50px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  margin: 0 auto;

  .content-section {
    max-width: 1200px;
    box-sizing: border-box;

    width: 100%;
    height: fit-content;

    @media screen and (max-width: 1220px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media screen and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 500px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .project-topic {
      color: $color-dark-blue;
      font-size: 32px;
    }

    .top-content {
      width: 100%;
      width: 100%;
      display: flex;
      gap: 20px;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      .left-content {
        width: 70%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 900px) {
          width: 100%;
        }

        .image-gellary {
          width: 100%;
          display: flex;
          gap: 10px;
        }
      }

      .right-content {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
        padding-left: 30px;

        @media screen and (max-width: 900px) {
          width: 100%;
          margin-top: 0;
        }

        .highlight-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;

          .highlight {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            color: $color-black;

            .list-item {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              background-color: $color-black;
            }
          }
        }
      }
    }

    .project-overview-description {
      color: $color-dark-gray;
    }

    .des-2 {
      margin-top: 30px;
    }

    .gellary-2 {
      margin-top: 40px;
      width: 100%;
      display: flex;
      gap: 10px;
    }
  }
}
