html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.merriweather-semi-bold {
  font-family: var(--font-merriweather-semi-bold), sans-serif;
}

.merriweather-regular {
  font-family: var(--font-merriweather-regular), sans-serif;
}

.inter-extra-bold {
  font-family: var(--font-inter-extra-bold), sans-serif;
}

.inter-bold {
  font-family: var(--font-inter-bold), sans-serif;
}

.poppins-medium {
  font-family: var(--font-poppins-medium), sans-serif;
}

.poppins-regular {
  font-family: var(--font-poppins-regular), sans-serif;
}

.poppins-semi-bold {
  font-family: var(--font-poppins-semi-bold), sans-serif;
}

.poppins-bold {
  font-family: var(--font-poppins-bold), sans-serif;
}

.poppins-extra-bold {
  font-family: var(--font-poppins-extra-bold), sans-serif;
}

.poppins-light {
  font-family: var(--font-poppins-light), sans-serif;
}

.roboto-semi-bold {
  font-family: var(--font-roboto-semi-bold), sans-serif;
}

.work-sans-regular {
  font-family: var(--font-work-sans-regular), sans-serif;
}
