.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 20px 0px;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0 0.5rem;
  height: 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  color: #000;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;

  &.carousel-left {
    left: 1rem;
  }

  &.carousel-right {
    right: 1rem;
  }
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 1);
  }

  &.prev-button {
    left: 10px;
  }

  &.next-button {
    right: 10px;
  }
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;

  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    &.active {
      background: #000;
    }
  }
}
